html, body {
    margin:0 !important;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.content-container{
    padding:40px;
}

.top-nav-menu{
    margin-top:50px;
}

.page-title{
    margin-left:60px;
    padding: 15px 30px;
    font-size:24px;
}

.form-container,
.table-container{
    margin:0 auto;
    width: 100%;
    max-width:1100px;
}

.action-container{
    width: 100%;
    margin:0 auto;
    max-width:1100px;
    margin-top:40px;
    text-align:right;
}

.table-row:hover{
    cursor:pointer;
}

.margin-right-10{
    margin-right:10px;
}

.margin-bottom-20{
    margin-bottom:20px;
}

.flex-row{
    display:flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom:15px;
}

.flex-row>div{
    flex-grow:1;
}

.error-div{
    padding-top:4px;
    padding-left:10px;
    font-size:12px;
    color:#d13031;
    margin-bottom:0;
}

.error-message{
    position:relative;
    top:4px;
    left:-7px;
}
